<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	charset="UTF-8" />
<title>Login</title>
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}" />
</head>
<body>
	<div class="container-fluid col-sm-12">
		<h1>English Vocabulary</h1>
		<form class="form-signin" th:action="@{/registForm}" method="post">
			<p>
				<button class="btn btn-info btn-lg" type="submit">아이디 등록</button>
			</p>
		</form>
		<form class="form-signin" th:action="@{/login}" method="post">
			<h2 class="form-signin-heading">로그인</h2>
			<div th:if="${param.error}" class="alert alert-danger">잘못된 아이디나
				암호 입니다.</div>
			<input type="text" class="form-control" name="username"
				placeholder="Username" required="required" autofocus="autofocus" value="user1"/>
			<input type="password" class="form-control" name="password"
				placeholder="Password" required="required" autofocus="autofocus" value="demo"/>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
	</form>
	</div>
</body>
</html>